.popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
}
/*.popup-inner {*/
/*    position: relative;*/
/*    bottom: -100vw;*/
/*    right: -100vh;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    max-width: 800px;*/
/*    max-height: 600px;*/
/*    width: 60%;*/
/*    height: 80%;*/
/*    background-color: #fff;*/
/*    transform: rotate(32deg);*/
/*    transition: .64s ease-in-out;*/
/*}*/
/*popup__photo {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: flex-end;*/
/*    width: 40%;*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*}*/
/*popup__photo img {*/
/*    width: auto;*/
/*    height: 100%;*/
/*}*/

.popup__close {
        position: absolute;
        right: -1rem;
        top: -1rem;
        width: 3rem;
        height: 3rem;
        font-size: .875rem;
        font-weight: 300;
        border-radius: 100%;
        background-color: #0A0A0A;
        z-index: 4;
        color: #fff;
        line-height: 3rem;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
    }

.th_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .th_popup {
        width: 90%;
    }
}

#th_black_friday_top {
    display: block;
    background: #DC2A0B;
    color: #fff;
    padding: 0.5em;
    width: 100% !important;
    text-align: center;
}

.th_popup_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .65;
    background-color: #e6e6e6;
    z-index: 9998;
    display: none;
}
